body{
  font-family: 'Open Sans Condensed', sans-serif;
  background: white;
}
/* -ligne du haut */
/* --les 2 div */
.s9{
  background-color: white;
  height: 9.8vh;
}
.connection {
  background-color: white;
    height: 9.8vh;
}
/* -- le bouton connecter et "s'inscrire" */
.connect{
  margin: 1.6vh;
  width: 29.2vh;
  height: 5.7vh;
  color: black;
  background-color: white;
}
.connect:hover{
  background-color: grey;
}
.buttons{
  float: right;
}
.inscription{
  margin: 1.6vh;
  width: 29.2vh;
  height: 5.7vh;
  color: black;
}
.inscription:hover{
  color: grey;
}
.material-icons{
  float: left;
}

nav{
    height: 0vh;
}
.nav-wrapper{
  background-color: white;
}
.nav-wrapper a{
  background-color: white;
  color: black;
}
.input-field{
    text-align: center;
}
h1, h2{
    text-align: center;  
    margin: 25px;
}
hr{
    background-color: black;
    margin-bottom: 25px;
    width: 500px;
    border: solid grey 2px;
    border-radius: 50px;
}

.presentation{
  text-align: center;
}
.presentation-texte{
  background-color: grey;
  color: white;
}

.choicebutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.choicebutton:hover{
    background-color: grey;
}

.page-footer{
   background-color: white;
}
